<launch>
    <remap from="/KF_map_points" to="/vslam2/KF_MapPoints_Stereo"/>
    <remap from="/KF_pose" to="/vslam2/KF_Pose_Stereo"/>
    <remap from="/semantic_image" to="/zed2/zed_node/semantics"/>
    <node pkg="visual_occupancy_map"  type="semantic_occupancy_map_node"  name="semantic_occupancy_map_node" 
          args="$(find visual_occupancy_map)/config/sber_mseg.yaml"
          cwd="node"   output="screen">
    
    </node>

</launch>

